@model CS_Lab_7.Models.GuestResponse

@{
    ViewBag.Title = "RsvpForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RsvpForm</h2>
<div class="panel-body">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
    <div class="form-group">
        <label>Ваше имя:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Ваш email:</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Ваш телефон:</label>
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Вы придете?</label>
        @Html.DropDownListFor(x => x.WillAttend, new[] {
            new SelectListItem() { Text = "Да, конечно я буду", Value = Boolean.TrueString},
            new SelectListItem() { Text = "Нет, я не смогу", Value = Boolean.FalseString}
        }, new { @class = "form-control" })
    </div>
       
        <input type="submit" value="Отправить форму RSVP" class="btn btn-primary"/>
    }
</div>

